# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [10]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### Step 4. See the first 10 entries

In [11]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [13]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [58]:
# Solution 2
chipo.shape[0] # entries

4622

### Step 6. What is the number of columns in the dataset?

In [59]:
len(chipo.columns)

5

In [60]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [22]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [61]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [31]:
chipo['item_name'].value_counts().head(5) # ini salah karena ada yang ordernya > 1

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

In [84]:
c = chipo.groupby('item_name').sum()
c.loc[c['quantity'].idxmax()]

order_id      713926.00
quantity         761.00
item_price      7342.73
Name: Chicken Bowl, dtype: float64

In [88]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(5)

                     order_id  quantity  item_price
item_name
Chicken Bowl           713926       761     7342.73
Chicken Burrito        497303       591     5575.82
Chips and Guacamole    449959       506     2201.04
Steak Burrito          328437       386     3851.43
Canned Soft Drink      304753       351      438.75

### Step 10. For the most-ordered item, how many items were ordered?

In [89]:
chipo['item_name'].value_counts().head(1) # ini juga salah

Chicken Bowl    726
Name: item_name, dtype: int64

In [90]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

### Step 11. What was the most ordered item in the choice_description column?

In [92]:
chipo['choice_description'].value_counts().head(5) # ini salah

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [93]:
c = chipo.groupby('choice_description').sum()
c.loc[c['quantity'].idxmax()]

order_id      123455.00
quantity         159.00
item_price       326.71
Name: [Diet Coke], dtype: float64

In [94]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

### Step 12. How many items were orderd in total?

In [35]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [37]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [42]:
chipo['item_price'][0].split('$')[1]

'2.39 '

In [43]:
num_price = lambda x : x.split('$')[1]

In [47]:
chipo['item_price'] = chipo['item_price'].apply(num_price)

In [50]:
chipo['item_price'].head(5)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: object

In [55]:
chipo['item_price'] = chipo['item_price'].astype('float')

#### Step 13.c. Check the item price type

In [57]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [97]:
revenue = sum(chipo['quantity']*chipo['item_price'])
np.round(revenue,2)

print('Total revenue is : ${}'.format(np.round(revenue,2)))

Total revenue is : $39237.02

### Step 15. How many orders were made in the period?

In [102]:
orders = chipo['order_id'].value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [105]:
# Solution 1
avg_rev_perorders = revenue/orders
print('the average revenue per orders is : ${}'.format(np.round(avg_rev_perorders,2)))

the average revenue per orders is : $21.39

In [111]:
# Solution 2
chipo['revenue'] = chipo['quantity']*chipo['item_price']
chipo.groupby('order_id').sum().head(5)

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70

In [113]:
np.round(chipo.groupby('order_id').sum()['revenue'].mean(),2)

21.39

### Step 17. How many different items are sold?

In [116]:
chipo['item_name'].value_counts().count()

50